@media print{
    body {
        margin: 0;
        padding: 0;
    }
    .navbar-inner, .iq-banner,#printorders,.updatePayment, .sidebar-default,.iq-containers, footer{
        display:none;
    }
    .receipt{
        display:inline-block;
    }
    @page {
        margin: 0.2in;
    }
    .row{
        display: flex;
    }
}